.wrapper {
  border-radius: 5px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
  max-width: 320px;
  transition: 0.3s;
}

.image {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.body {
  padding: 20px;
}

.title {
  text-align: left;
  margin-bottom: 5px;
}

.description {
  text-align: left;
  color: rgb(108, 105, 105);
}

@media (max-width: 680px) {
  .wrapper {
    max-width: 200px;
  }
  .imageWrapper {
    max-width: 200px;
  }
}
